  <div class="row ">
        <div class="col-md-6">
            <div class="card p-2">
                <div id="divChart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-2">
                    <label>Display Per Year</label>
                    <div class="options w-50 mt-2">
                        
                        <select class="form-control" name="select_year" id="select_year"  (change)="load_per_year($event)">
                            <option value="0" selected>Select year</option>
                            <option *ngFor="let row of year"   value="{{row}}"  >{{row}}</option>
                        </select>
                    </div>
                    <div id="divChart1">
                        <canvas id="myChart1"></canvas>
                    </div>
                </div>
            </div>
    
    </div>
