  <div class="row ">
        <div class="col-md-6">
            <div id="divChart">
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="options w-50">
                <select class="form-control"  (change)="load_per_year($event)">
                    
                    <option *ngFor="let row of year"   value="{{row}}" >{{row}}</option>
                </select>
            </div>
            <div id="divChart1">
                <canvas id="myChart1"></canvas>
            </div>
        </div>
    
    </div>
