<!-- <div class="card-container" style="align-items: center;">
    <p style="font-size: 15px;">Here are some <span style="font-weight: bold;">Links</span> to help you get started:</p>
    </div> -->
    <div class="card-container p-2" >
      <a class="card l-bg-orange-dark" target="_blank" rel="noopener" href="http://cpesd-infosys.wuaze.com/">
        <mat-icon>file_copy</mat-icon>
        <span>PMAS/RFA</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
        <!-- data-bs-toggle="modal" data-bs-target="#exampleModal"  -->
      <a class="card l-bg-cherry" (click)="open_()">
        <mat-icon>remove_red_eye</mat-icon>
        <span class="mr-2">Watchlisted</span>
        <svg  class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
      <a class="card l-bg-blue-dark" (click)="open_document()">
        <mat-icon>search</mat-icon>
        <span>Document Tracker</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
</div>



    


