<app-title [title]="title"></app-title>
<div class="card" style="width: 100%;">
    <div class="card-body">
      <form class="row g-3" id="add-form" >
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Old Security Code<span class="text-danger">*</span></label>
          <input type="text" class="form-control">
         
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label ">New security Code<span class="text-danger">*</span></label>
          <input type="text" class="form-control"  name="last_name" >
        </div>
        
        
        <div class="col-12">
          <button  type="submit" class="btn btn-primary mt-2"  > 
              <!-- <div class="spinner-border" role="status" >
              <span class="visually-hidden">Loading...</span>
            </div> -->
            Submit
          </button>
      </div>
      </form>
    </div>
  </div>
