<div class="row ">
    <div class="col-xl-3 col-lg-3" *ngFor="let row of count_card; let i = index ">
        <div class="card {{row.bgc}}">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large" ><i class="fa {{row.icon}}"></i></div>
                <div class="mb-4">
                    <h3 class="card-title mb-0">{{row.title}}</h3>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                          {{row.total}}
                        </h2>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="card p-3">
        <div class="title">
            <h1>Transaction Today - {{date_now}} </h1>
        </div>

        
    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label >
            
            <mat-icon>file_copy</mat-icon>
            Created Document
            <span class="text-danger p-2 mb-2 h5" >{{count_created_doc}}</span>
          </ng-template>

          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

          <table mat-table [dataSource]="dataSource" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
              <td mat-cell *matCellDef="let element of dataSource; let index = index"> {{element.index}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="tracking_number">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Tracking Number</th>
              <td mat-cell *matCellDef="let element"> {{element.tracking_number}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="document_name">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Document Name</th>
              <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="document_type">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Document Type</th>
              <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          </div>
         
        </mat-tab>

        <mat-tab >
          <ng-template   mat-tab-label>
            
            <mat-icon  >arrow_backward</mat-icon>
            Incoming
            <span class="text-danger p-2 mb-2 h5" >{{count_incoming_doc}}</span>
          </ng-template>
          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

            <table mat-table [dataSource]="dataSourceIncoming" >

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
                <td mat-cell *matCellDef="let element of dataSource; let index = index"> {{element.index}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="tracking_number">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Tracking Number</th>
                <td mat-cell *matCellDef="let element"> {{element.tracking_number}}</td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="document_name">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Document Name</th>
                <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="document_type">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Document Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            </div>
        </mat-tab>
      
        <mat-tab >
          <ng-template   mat-tab-label>
           
            <mat-icon  >arrow_downward</mat-icon>
            Received
            <span class="text-danger p-2 mb-2 h5" >{{count_received_doc}}</span>
          </ng-template>
          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

            <table mat-table [dataSource]="dataSource1" >

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
                <td mat-cell *matCellDef="let element of dataSource; let index = index"> {{element.index}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="tracking_number">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Tracking Number</th>
                <td mat-cell *matCellDef="let element"> {{element.tracking_number}}</td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="document_name">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Document Name</th>
                <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="document_type">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Document Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            </div>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            
            <mat-icon>arrow_forward</mat-icon>
            Forwarded
            <span class="text-danger p-2 mb-2 h5" >{{count_forwarded_doc}}</span>
          </ng-template>
      
          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

            <table mat-table [dataSource]="dataSource2" >

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
                <td mat-cell *matCellDef="let element of dataSource; let index = index"> {{element.index}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="tracking_number">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Tracking Number</th>
                <td mat-cell *matCellDef="let element"> {{element.tracking_number}}</td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="document_name">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Document Name</th>
                <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="document_type">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Document Type</th>
                <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            </div>
        </mat-tab>
      </mat-tab-group>
      

    </div>
</div>

<!-- <app-track-doc></app-track-doc> -->