<div class="row ">
    <div class="col-xl-3 col-lg-3" *ngFor="let row of count_card; let i = index ">
        <div class="card {{row.bgc}}">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large" ><i class="fa {{row.icon}}"></i></div>
                <div class="mb-4">
                    <h3 class="card-title mb-0">{{row.title}}</h3>
                </div>
                <div class="row align-items-center mb-2 d-flex">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0">
                          {{row.total}}
                        </h2>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="card p-3">
        <div class="title">
            <h1>Transaction Today</h1>
        </div>

        
    <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>file_copy</mat-icon>
            Encoded Document
          </ng-template>

          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

          <table mat-table [dataSource]="dataSource" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          </div>
         
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>arrow_downward</mat-icon>
            Received
          </ng-template>
          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

            <table mat-table [dataSource]="dataSource" >
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            </div>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>arrow_forward</mat-icon>
            Forwarded
          </ng-template>
      
          <div class="card table-responsive mt-2" style="border: 1px solid;"  tabindex="0">

            <table mat-table [dataSource]="dataSource" >
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
  
            </div>
        </mat-tab>
      </mat-tab-group>
      

    </div>
</div>

<!-- <app-track-doc></app-track-doc> -->