<div class="auth-page-content">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
             <div class="card mt-4">
                <div class="card-body p-4">
                   <div class="text-left">
                      <button routerLink="../login" class="btn"><i class="fa fa-arrow-left h4" ></i> </button>
                   </div>
                   <div class="text-center ">
                      <h3 class="text-primary">Register !</h3>
                   </div>
                   <div class="p-2 mt-2">
                      <form id="login-form" >
                         <div class="mb-3">
                            <label for="username" class="form-label">First Name</label>
                            <input type="text" class="form-control" name="username" id="username"  required>
                         </div>
                         <div class="mb-3">
                            <label class="form-label" for="password-input">Middle Name</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                               <input type="text" class="form-control pe-5"  name="password" required>
                            </div>
                         </div>
                         <div class="mb-3">
                            <label class="form-label" for="password-input">Last Name</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                               <input type="text" class="form-control pe-5"  name="password" required>
                            </div>
                         </div>
                         <div class="mb-3">
                            <label class="form-label" for="password-input">Email Address</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                               <input type="email" class="form-control pe-5"  name="password" required>
                            </div>
                         </div>
                         <div class="mb-3">
                            <label class="form-label" for="password-input">Username</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                               <input type="password" class="form-control pe-5"  name="password" required>
                            </div>
                         </div>
                         <div class="mb-3">
                            <label class="form-label" for="password-input">Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                               <input type="password" class="form-control pe-5"  name="password" required>
                            </div>
                         </div>
                         <div class="mb-3">
                            <label class="form-label" for="password-input">Confirm Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                               <input type="password" class="form-control pe-5" name="password" required>
                            </div>
                         </div>
                         <div class="mt-4">
                            <button routerLink="../dashboard" class="btn  w-100 login" style="background-color: #0061f2; color: #fff" type="submit">Submit 
                            </button>                             
                         </div>
                      </form>
                   </div>
                </div>
                <!-- end card body -->
             </div>
          </div>
       </div>
       <!-- end row -->
    </div>
    <!-- end container -->
 </div>
 <!-- end auth page content -->