

<div class="page-header-content">
    <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
            <div class="header-title">
                <h1>{{title}}</h1>
            </div>
        </div> 
    </div>
</div>

<div class="card p-3" style="border: 1px solid;">
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="doFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>
    <div class="export-container mb-2">
        <button mat-raised-button color="primary" (click)="export()" >
          <i class="fas fa-file-excel-o"></i>
          Export
        </button>
        <button routerLink="../add-documents" mat-raised-button color="accent" class="pull-right" >
            <i class="fas fa-plus"></i>
            Add Document
          </button>
      </div>
    
      <div class="mat-elevation-z8 " >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="excel-table">
  
            <ng-container matColumnDef="tracking_number" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Tracking Number</th>
            <td mat-cell *matCellDef="let element"> {{element.tracking_number }} </td>
            </ng-container>
        
          
            
            <ng-container matColumnDef="document_name">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Document Name </th>
            <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="document_type">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Document Type</th>
            <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Created</th>
            <td mat-cell *matCellDef="let element"> {{element.created}} </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Actions</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-primary"  ><i class="fas fa-eye"></i></button>
                {{element.a}}
            </td>
              </ng-container>
  
           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40, 80, 160]">
        </mat-paginator>
        <div  [hidden]="showLoading">
            <mat-progress-bar    mode="query" ></mat-progress-bar>
        </div>
    </div>
      
 
  </div>
  
