<div class="header-title">
    <h1>List of Blacklisted</h1>
</div>

<div class="card p-3" style="border: 1px solid;">
<div class="container">
  <div class="card  ">
      <div class="card-body">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead >
                <tr>
                  <th >Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th>Phone number</th>
                  
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of list">
                  <td>{{ row.first_name }} {{row.middle_name}} {{row.last_name}} {{row.extension}}</td>
                  <td>{{ row.address }}</td>
                  <td>{{ row.email_address }}</td>
                  <td>{{ row.phone_number }}</td>
             
              </tr>
              </tbody>
          </table>
      </div>

  
</div>

