<div class="header-title">
    <h1>Remove From Blacklisted</h1>
</div>
<div class="card p-3" style="border: 1px solid;">
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="doFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>
    <div class="export-container mb-2">
        <button mat-raised-button color="primary" (click)="export()">
          Export
        </button>
      </div>
      
    <div class="mat-elevation-z8 " >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="excel-table">

            <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Name</th>
            <td mat-cell *matCellDef="let element"> {{element.first_name }} </td>
            </ng-container>
        
          
            
            <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email_address}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="phone_number">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Phone Number</th>
            <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Action</th>
                <td mat-cell *matCellDef="let element">
                    <button class="btn btn-warning m-2" (click)="set_active(element.person_id)">Set to Active</button>
                    <button class="btn btn-danger" (click)="delete(element.person_id)" >Delete Permanently </button> </td>
                </ng-container>

           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40, 80, 160]">
        </mat-paginator>
        <div  [hidden]="showLoading">
            <mat-progress-bar    mode="query" ></mat-progress-bar>
        </div>
    </div>
</div>



