<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <img
  class="avatar mat-elevation-z8"
  src="assets/peso_logo.png"
/>
<mat-divider></mat-divider>
    <mat-nav-list>
      <a  mat-list-item routerLink="dashboard" routerLinkActive="active-link"> <i class="fa fa-tachometer" aria-hidden="true"></i><span > Dashboard</span></a>
      <a mat-list-item routerLink="list" routerLinkActive="active-link"><i class="fa fa-ban" aria-hidden="true"></i> <span>Active List</span></a>
      <a mat-list-item routerLink="inactive-list" routerLinkActive="active-link"><i class="fa fa-check" aria-hidden="true"></i> <span>Inactive List</span></a>
      <a mat-list-item routerLink="search" routerLinkActive="active-link"><i class="fa fa-search" aria-hidden="true"></i> <span>Search</span></a>
      <a mat-list-item routerLink="add" routerLinkActive="active-link"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
      <a mat-list-item routerLink="manage-programs" routerLinkActive="active-link"><i class="fa fa-pen" aria-hidden="true"></i><span>Manage Programs</span></a>
      <a mat-list-item routerLink="update-security" routerLinkActive="active-link"><i class="fa fa-lock" aria-hidden="true"></i><span style="font-size: 13px;">Change Security Code</span></a>
      <a mat-list-item (click)="logout()"  routerLinkActive="active-link" ><i class="fa fa-sign-out text-danger " aria-hidden="true"></i> <span class="text-danger">Logout</span></a>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        style="color: #000;"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container top-display"  >
      <span>Watchlisted</span>
      <span class="pull-right text-danger">Administrator</span>
      </div>
    </mat-toolbar>
    <div style="padding: 10px;"><router-outlet></router-outlet></div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
