<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <img
  class="avatar mat-elevation-z8"
  src="assets/peso_logo.png"
/>

<mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item   *ngFor="let row of menus; let i = index" routerLink="{{row.url}}" routerLinkActive="active-link"> <i class="fa {{row.icon}} {{row.class}}" aria-hidden="true"></i><span class="{{row.class}}" > {{ row.title}}</span> <span class="badge badge-pill badge-danger" style="color: red;">{{row.badge}}</span></a>
      <!-- <a mat-list-item routerLink="my-document" routerLinkActive="active-link"><span> <i class="fa fa-file" aria-hidden="true"></i> My Documents</span></a>
      <a mat-list-item routerLink="incoming" routerLinkActive="active-link"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span>Incoming</span></a>
      <a mat-list-item routerLink="received" routerLinkActive="active-link"><i class="fa fa-arrow-down" aria-hidden="true"></i> <span>Received</span></a>
      <a mat-list-item routerLink="forwarded" routerLinkActive="active-link"><span> <i class="fa fa-arrow-right" aria-hidden="true"></i> Forwarded</span></a> -->
     <a mat-list-item (click)="logout()"  routerLinkActive="active-link" ><i class="fa fa-sign-out text-danger " aria-hidden="true"></i> <span class="text-danger">Logout</span></a> 
      <mat-divider></mat-divider>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        style="color: #000;"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="container top-display"  >
        <span>Document Tracker</span>
      <span class="pull-right text-danger"><app-user-display></app-user-display></span>
      </div>
      
      
    </mat-toolbar>
    <div style="padding: 10px;"><router-outlet></router-outlet></div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
