

<div class="page-header-content">
    <div class="row align-items-center justify-content-between pt-3">
        <div class="col-auto mb-3">
            <div class="header-title">
                <h1>{{title}}</h1>
            </div>
        </div> 
    </div>
</div>

<div class="card p-3" style="border: 1px solid;">

 
    <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="doFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>
    <div class="export-container mb-2">
        <button mat-raised-button color="primary" (click)="export()" >
          <i class="fas fa-file-excel-o"></i>
          Export
        </button>
        
      </div>
    
      <div class="mat-elevation-z8 " >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="excel-table">
  
            <ng-container matColumnDef="tracking_number" >
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Tracking Number</th>
            <td mat-cell *matCellDef="let element"> {{element.t_ }} </td>
            </ng-container>

          
            
            <ng-container matColumnDef="document_name">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Document Name </th>
            <td mat-cell *matCellDef="let element"> {{element.document_name}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="document_type">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Document Type</th>
            <td mat-cell *matCellDef="let element"> {{element.type_name}} </td>
            </ng-container>

            <ng-container matColumnDef="remarks">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;">Remarks</th>
              <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
              </ng-container>
        
            
            <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Received Date</th>
            <td mat-cell *matCellDef="let element"> {{element.received_date}} </td>
            </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef style="background-color: #3F6BA4; color: #fff;"> Actions</th>
              <td mat-cell *matCellDef="let element">
                <button class="btn btn-primary" (click)="a(element.tracking_number,element.history_id)"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><i class="fas fa-forward"></i></button>
                <!-- <button class="btn btn-success" style="margin-left: 7px;" (click)="completed(element.history_id,element.document_name)" [hidden]="element.a" ><i class="fas fa-check"></i></button> -->
                <button class="btn btn-success" style="margin-left: 7px;"  [hidden]="element.a" (click)="complete_off_canvas(element.history_id,element.document_name)"  data-bs-toggle="offcanvas" data-bs-target="#complete"><i class="fas fa-check"></i></button>
            </td>
              </ng-container>
  
           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40, 80, 160]">
        </mat-paginator>
        <div  [hidden]="showLoading">
            <mat-progress-bar    mode="query" ></mat-progress-bar>
        </div>
    </div>
      
 
  </div>
  


<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 id="offcanvasRightLabel">Forward</h2>
    <button type="button" class="btn-close text-reset" id="close-off" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="tracking_number" name="tracking_number">
      <input type="hidden" formControlName="id" name="id">
      <input type="hidden" formControlName="history_id" name="history_id">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">To : </label>
          <select class="form-control" formControlName="forward" name="forward" [ngClass]="{ 'is-invalid': submitted && f['forward'].errors }" >
            <option value="" selected>Select ...</option>
            <option *ngFor="let a of users ;let index = index" [disabled]="this.id == a.user_id ? true : false" value="{{a.user_id}}">
                {{a.first_name}} {{a.middle_name}} {{a.last_name}} {{a.extension}}
            </option>
          </select>

          <!-- <label for="exampleInputPassword1" class="form-label">Remarks </label> -->
          <!-- <textarea class="form-control"   name="remarks" formControlName="remarks"   ></textarea> -->
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Remarks </label>
        <editor
        apiKey="ds0fhm6q5wk0i2dye0vxwap3wi77umvl550koo9laumyhtg1"
        name="remarks" formControlName="remarks"
        [init]="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
      ></editor>
      </div>
        <button type="submit"   class="btn btn-primary">
          <div class="spinner-border" role="status" [hidden]="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>Forward</button>
      </form>
  </div>
</div>


<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="complete" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h2 id="offcanvasRightLabel">Final Destination</h2>
    <button type="button" class="btn-close text-reset" id="close-off1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="addForm1" (ngSubmit)="onSubmit1()">
      <!-- <input type="hidden" formControlName="tracking_number" name="tracking_number">
      <input type="hidden" formControlName="id" name="id"> -->
      <input type="hidden" formControlName="history_id1" name="history_id1">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Final Action Taken : </label>
          <select class="form-control" formControlName="final" name="final" [ngClass]="{ 'is-invalid': submitted && f1['final'].errors }" >
            <option value="" selected>Select ...</option>
            <option *ngFor="let a of actions ;let index = index"  value="{{a.type_id}}">
                {{a.type_name}} 
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Remarks</label>
          <editor
        apiKey="ds0fhm6q5wk0i2dye0vxwap3wi77umvl550koo9laumyhtg1"
        name="remarks1" formControlName="remarks1"
        [init]="{
          height: 500,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
            alignleft aligncenter alignright alignjustify | \
            bullist numlist outdent indent | removeformat | help'
        }"
      ></editor>
          <!-- <textarea class="form-control"   name="remarks1" formControlName="remarks1"   ></textarea> -->
          </div>

          
       
          <div class="mb-3">
        <button type="submit"   class="btn btn-primary">
          <div class="spinner-border" role="status" [hidden]="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>Submit</button>
          </div>
      </form>
  </div>
</div>
